게시판
<form action="postdb" method ="post">
    제목 <input name = "title" type = "text"> <br>
    내용 <input name = "content" type = "text"> <br>
    <input type = "submit"/>
</form>

<a href = "index"> 돌아가기 </a>